<%- include('./partials/header') %>
<main>
  <div class="contain">
    <article class="account_inteface">
      <header class="account_header">
        <div class="id_container">
          <% if (user.photo!=="") { %>
          <img class="user_pfp" src="<%= user.photo %>" alt="" />
          <% } else {%>
          <div class="user">
            <div class="circle_user"><i class="fa-solid fa-user"></i></div>
          </div>
          <% } %>
          <h2 class="user_name"><%=user.name%></h2>
        </div>
        <ul class="user_info">
          <li class="user_info_item user_info_publi">
            <% if (user.publication!==0) { %>
            <p class="info_publi_numbers"><%= user.publication %></p>
            Publications <% } %>
            <p class="info_publi_numbers">0</p>
            Publication
          </li>
          <li class="user_info_item user_info_follower">
            <% if (user.followers!==0) { %>
            <p class="info_publi_numbers"><%= user.followers %></p>
            Followers <% } %>
            <p class="info_publi_numbers">0</p>
            Follower
          </li>
          <li class="user_info_item user_info_following">
            <% if (user.followings!==0) { %>
            <p class="info_publi_numbers"><%= user.followings %></p>
            Followings <% } %>
            <p class="info_publi_numbers">0</p>
            Following
          </li>
        </ul>
      </header>
      <div class="user_bio">
        <em class="user-other_name"></em>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          accusamus perspiciatis atque mollitia optio nam quas inventore, sunt
          omnis deserunt ut tempore voluptatibus aliquid, eum, corrupti alias
          explicabo ipsa cumque.
        </p>
      </div>
      <div class="user_publi"></div>
    </article>
  </div>
</main>
<%- include('./partials/footer') %>
