<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kurogram</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <% if (locals.userInfo) { %>
    <link rel="stylesheet" href="../../css/login.css" />
    <% } else if (locals.user){%>
    <link rel="stylesheet" href="../../css/account.css" />
    <%}else if (locals.create){%>
    <link rel="stylesheet" href="../../css/create_account.css" />
    <%}else if (locals.stylePublicate){%>
    <link rel="stylesheet" href="../../css/publicate.css" />
    <% } %>
  </head>
  <body>
    <header class="index_header">
      <h1>Kurogram</h1>

      <% if (locals.info||locals.stylePublicate) { %>

      <div class="user">
        <div class="circle_user">
          <% if (info.photo!=="") { %>
          <img
            style="
              border-radius: 50%;
              object-fit: cover;
              width: 100%;
              height: 100%;
            "
            src="<%=info.photo%>"
            alt=""
          />
          <% } else { %>

          <div class="user">
            <div class="circle_user"><i class="fa-solid fa-user"></i></div>
          </div>
          <%}%>
        </div>
        <a href="/login/account/<%= info.name %>"
          ><strong class="user_connect"><%= info.name %></strong></a
        >
      </div>
      <% } else if (locals.inAccount) { %>
      <div class="user">
        <a href="/">
          <span>
            <i class="fa-solid fa-right-from-bracket"></i>
          </span>
          <strong class="user_connect">Se déconnecter</strong></a
        >
      </div>
      <% } else if (locals.checkingAccount) { %>
      <div class="user">
        <div
          class="circle_user"
          style="
            border: solid 2px white;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
          "
        >
          <% if (checkingAccount.user_photo!=="") { %>
          <img
            style="
              border-radius: 50%;
              object-fit: cover;
              width: 100%;
              height: 100%;
            "
            src="<%=checkingAccount.user_photo%>"
            alt=""
          />
          <% } else { %>

          <div class="user">
            <div class="circle_user"><i class="fa-solid fa-user"></i></div>
          </div>
          <%}%>
        </div>
        <a href="/login/account/<%= checkingAccount.user_name %>"
          ><strong class="user_connect"
            ><%= checkingAccount.user_name %></strong
          ></a
        >
      </div>
      <% }else { %>

      <div class="user">
        <div
          class="circle_user"
          style="
            border: solid 2px white;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
          "
        >
          <i class="fa-solid fa-user" style="font-size: 1rem"></i>
        </div>
        <a href="/login"><strong class="user_connect">Se connecter</strong></a>
      </div>
      <% } %>
    </header>
    <nav class="main_nav">
      <ul class="menu_list">
        <li class="menu_item">
          <% if (locals.connected||locals.info) { %>
          <a class="menu_link" href="/connected/<%= info.name %>"
            ><i class="fa-solid fa-house"></i
          ></a>
          <% } else if (locals.who && locals.user && who!=='user'&& who===
          user.user_name){ %>
          <a class="menu_link" href="/connected/<%= user.user_name %>"
            ><i class="fa-solid fa-house"></i
          ></a>
          <% } else if (locals.who && locals.user && who!==user.user_name ){ %>
          <a class="menu_link" href="/connected/<%= who %>"
            ><i class="fa-solid fa-house"></i
          ></a>
          <% } else {%>
          <a class="menu_link" href="/"><i class="fa-solid fa-house"></i></a>
          <% } %>
        </li>
        <li class="menu_item">
          <a class="menu_link" href="#"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></a>
        </li>
        <li class="menu_item">
          <a class="menu_link" href="#"
            ><i class="fa-regular fa-compass"></i
          ></a>
        </li>
        <li class="menu_item">
          <a class="menu_link" href="#"
            ><i class="fa-solid fa-clapperboard"></i
          ></a>
        </li>
        <% if (locals.connected||locals.info) { %>
        <li class="menu_item">
          <a class="menu_link" href="/connected/notification/<%= info.name %>"
            ><i class="fa-regular fa-heart"></i
          ></a>
        </li>
        <li class="menu_item">
          <a class="menu_link" href="/connected/publicate/<%= info.name %>"
            ><i class="fa-solid fa-plus"></i
          ></a>
        </li>
        <% } else if (locals.who && locals.user && who!=='user'&& who===
        user.user_name ){%>
        <li class="menu_item">
          <a
            class="menu_link"
            href="/connected/notification/<%= user.user_name %>"
            ><i class="fa-regular fa-heart"></i
          ></a>
        </li>
        <li class="menu_item">
          <a class="menu_link" href="/connected/publicate/<%= user.user_name %>"
            ><i class="fa-solid fa-plus"></i
          ></a>
        </li>
        <% } else if (locals.who && locals.user && who!== user.user_name&&who!==
        "user"){%>
        <li class="menu_item">
          <a class="menu_link" href="/connected/notification/<%= who %>"
            ><i class="fa-regular fa-heart"></i
          ></a>
        </li>
        <li class="menu_item">
          <a class="menu_link" href="/connected/publicate/<%= who %>"
            ><i class="fa-solid fa-plus"></i
          ></a>
        </li>
        <% } else{%>

        <li class="menu_item">
          <a class="menu_link" href="/login"
            ><i class="fa-regular fa-heart"></i
          ></a>
        </li>
        <li class="menu_item">
          <a class="menu_link" href="/login"
            ><i class="fa-solid fa-plus"></i
          ></a>
        </li>
        <% } %>
      </ul>
    </nav>
  </body>
</html>
