<%- include('./partials/header') %>
<main>
  <div class="contain">
    <article class="account_inteface">
      <header class="account_header">
        <div class="id_container">
          <% if (locals.user && user.photo!=="") { %>
          <img class="user_pfp" src="<%= user.photo %>" alt="" />
          <% } else {%>
          <div class="user">
            <div class="circle_user"><i class="fa-solid fa-user"></i></div>
          </div>
          <% } %>
          <h2 class="user_name"><%=user.name%></h2>
        </div>
        <ul class="user_info">
          <li class="user_info_item user_info_publi">
            <p class="info_publi_numbers"><%= user.user_posts_number %></p>
            Publications
          </li>
          <li class="user_info_item user_info_follower">
            <p class="info_publi_numbers"><%= user.user_followers %></p>
            Followers
          </li>
          <li class="user_info_item user_info_following">
            <p class="info_publi_numbers"><%= user.user_followings %></p>
            Followings
          </li>
        </ul>
      </header>
      <div class="user_bio">
        <em class="user-other_name"></em>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          accusamus perspiciatis atque mollitia optio nam quas inventore, sunt
          omnis deserunt ut tempore voluptatibus aliquid, eum, corrupti alias
          explicabo ipsa cumque.
        </p>
      </div>
      <div class="user_publi"></div>
    </article>
    <ul class="photo_container">
      <% photo.forEach(post => { %>
      <li class="photo_item">
        <a class="photo_link" href="<%= post.user_post %>"
          ><img class="photo_post" src="<%= post.user_post %>" alt=""
        /></a>
      </li>
      <% }) %>
    </ul>
  </div>
</main>
<%- include('./partials/footer') %>
